In [ ]:
#Write a Python program that prints a greeting message, such as "Hello, Python!".

In [5]:
greetings = '"Hello, Python!"'

print(greetings)

"Hello, Python!"

In [ ]:
#Create a program that:
#○ Defines two variables, a and b, with numerical values.
#○ Prints their sum, difference, product, and quotient.

In [11]:
a = 23
b = 9 

print(a + b)
print(a - b)
print(a*b)
print(a/b)

32
14
207
2.5555555555555554

In [ ]:
#Define a variable name and assign it your name. 
#Write a program that prints a message saying "Hello, [name]!" where [name] is the value of the variable.

In [41]:
name = 'Marcos'

print(f'Hello, {name}!')

Hello, Marcos!

In [ ]:
#● Create a list called universities with at least five different university names.
#● Print the entire list.
#● Print the first and last university in the list.

In [49]:
universities = ['ESADE', 'UCLA', 'LSE', 'UPC', 'HEC']

print(universities)
print(universities[0])
print(universities[-1])

['ESADE', 'UCLA', 'LSE', 'UPC', 'HEC']
ESADE
HEC

In [ ]:
#Create a dictionary called student with keys: name, age, and grade, and assign appropriate values to each key.
#● Write a program that prints each key-value pair in the dictionary.

In [95]:
student = {'name': 'Marcos', 'age':'26', 'grade':'A' }
student

{'name': 'Marcos', 'age': '26', 'grade': 'A'}

In [ ]:
#Define a tuple called coordinates with two values representing a point in 2D space (e.g., (x, y)).
#● Print the value of coordinates and access each element by its index.

In [105]:
coordinates = (23, 9)
print('value of coordinates:',coordinates)

value of coordinates: (23, 9)

In [97]:
coordinates[0]

23

In [99]:
coordinates[1]

9

In [ ]:
#Create a set called colors with the values: "red", "green", "blue".
#● Add another color to the set.
#● Try adding a duplicate color and observe what happens.
#● Print the set and remove one color from it.
#● Create another set named light_colors and merge colors and light_colors.

In [109]:
colors = {'red', 'green', 'blue'}

colors.add('orange')

colors

{'blue', 'green', 'orange', 'red'}

In [113]:
colors.add('red')

colors

#Duplicate items are not allowed

{'blue', 'green', 'orange', 'red'}

In [115]:
print(colors)

{'green', 'blue', 'red', 'orange'}

In [117]:
colors.pop()

print(colors)

{'blue', 'red', 'orange'}

In [119]:
light_colors = {'white', 'pink'}

colors = colors.union(light_colors)

colors

{'blue', 'orange', 'pink', 'red', 'white'}

In [ ]:
#Write a program that:
#○ Takes an input number from the user.
#○ Checks if the number is positive, negative, or zero.
#○ Prints an appropriate message based on the result.

In [133]:
Value_check = float(input('enter a number:'))
if Value_check < 0:
    print('negative number')
elif Value_check > 0:
    print('positive number')

else:
    print('zero')

enter a number: -2

negative number

In [ ]:
#Create a list of numbers from 1 to 5.
#● Use a for loop to iterate through the list and print each number.

In [143]:
numbers = list([num for num in range(1,6)])

for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
#Write a program that uses a while loop to print numbers from 1 to 5.
#● Ensure the loop terminates correctly.

In [149]:
number = 1
while number <= 5:
   print(number)
   number += 1

1
2
3
4
5

In [ ]:
#Write a program that:
#○ Asks the user to input a grade (e.g., "A", "B", "C", "D", or "F").
#○ Use a match statement to print a corresponding message for each grade:
#■ "A": "Excellent!"
#■ "B": "Good job!"
#■ "C": "Fair."
#■ "D": "Needs improvement."
#■ "F": "Failing."
#○ Handle invalid input by printing a default message.

In [169]:
grade = input("Enter a grade (A, B, C, D, or F): ").upper().strip()


match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid input.")

Enter a grade (A, B, C, D, or F):  w

Invalid input.

In [ ]:
#Write a function called greet that takes a name as an argument and prints "Hello, [name]!".
#● Call the function with your own name.

In [175]:
def greet(name): 
  print(f"Hello, {name}!")

greet('Marcos')

Hello, Marcos!

In [ ]:
#Define a function called square that takes a number as an argument and returns its square.
#● Print the result of calling this function with different numbers.

In [183]:
def square(number):
    return number ** 2


print(square(4.5))  
print(square(-5))  
print(square(0))

20.25
25
0

In [ ]:
#Write a function called multiply that takes two parameters, a and b, and returns their product. Set a default value of 1 for the parameter b.
#● Test the function with and without providing the second argument.

In [189]:
def multiply(a, b=1):
    return a*b

print(multiply(4, 5))
print(multiply(2))

20
2

In [ ]:
#Create a list of numbers from 1 to 10.
#● Use list comprehension to create a new list that contains the squares of these numbers.
#● Print the new list.

In [197]:
numbers = list(range(1, 11))
squared_numbers = []
for num in numbers:
    squared_numbers.append(num ** 2)
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Create a dictionary where the keys are names of students and the values are lists of their grades.
#● Write a function that takes the dictionary and prints the average grade for each student.

In [203]:
results = {
    "Marcos": [85, 92, 78],
    "Pamela": [92, 56, 95],
    "Cobo": [70, 75, 83],
    "Annelijne": [100, 65, 98]
}

def average_grades(grades_dict):
    for student, grades in grades_dict.items():
            average = sum(grades) / len(grades)
            print(f"{student} = {average:.2f}")

average_grades(results)

Marcos = 85.00
Pamela = 81.00
Cobo = 76.00
Annelijne = 87.67

In [ ]:
#Write a program that:
#○ Defines a function calculate which takes three parameters: two numbers and an operator (+, -, *, /).
#○ Performs the operation and returns the result.
#○ Ask the user for the two numbers and the operator, then call the function and print the result.

In [ ]:
def calculate(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 == 0:
            return "Error: Division by zero is not allowed."
        return num1 / num2
    else:
        return "Error: Invalid operator."

def main():
    try:
        num1 = float(input("Enter the first number: "))
        num2 = float(input("Enter the second number: "))
        operator = input("Enter the operator (+, -, *, /): ")

        result = calculate(num1, num2, operator)
        print("The result is:", result)
    except ValueError:
        print("Error: Please enter valid numbers.")

if __name__ == "__main__":
    main()